<div class="event-list">
  <%= for event <- @events do %>
    <div class="event-item">
      <h4><%= link event.title, to: events_path(@conn, :show, event.id) %></h4>
      <div class="event-details">
        <p><%= format_from_to event.start_time, event.end_time %></p>
        <p>(<%= format_time_from_now event.start_time %>)</p>
      </div>
      <div class="item-actions">
        <%= link action_text(@action), to: action_path(@action, @conn, event, @action_redirect_path), method: :post%>
      </div>
    </div>
  <% end %>
</div>