<%= if length(@events) == 0 do %>
<div class="no-recs">
  <p>No events ignored yet.</p>
  <p>Take a look at your <%= link "recommended events", to: events_path(@conn, :next_event) %>.</p>
  <p>Looking for your <%= link "saved events", to: events_path(@conn, :index) %>?</p>
</div>
<% else %>
<div class="event-list-container">
  <%= render Eventrist.EventsView, "events_list.html", conn: @conn, events: @events, action: :add, action_redirect_path: events_path(@conn, :ignored) %>
  <h4 class="other-events-link">
    Looking for your <%= link "saved events", to: events_path(@conn, :index) %>?
  </h4>
</div>
<% end %>