<%= if length(@events) == 0 do %>
<div class="no-recs">
  <p>No events saved yet.</p>
  <p>Take a look at your <%= link "recommended events", to: events_path(@conn, :next_event) %>.</p>
  <p>Looking for your <%= link "ignored events", to: events_path(@conn, :ignored) %>?</p>
</div>
<% else %>
<div class="event-list-container">
  <div class="copy-link">
    <p class="link-label">Link for calendar import:</p>
    <p><%= link feed_url(@conn, :feed, @user_id, key: @calendar_key), to: feed_url(@conn, :feed, @user_id, key: @calendar_key), id: "calendarlink", target: "_blank" %></p>
    <button id="copy" class="btn btn-primary" data-clipboard-target="#calendarlink">
        <img src="images/clippy.svg" alt="Copy to clipboard">
    </button>
  </div>
  <script>
  (function(){
    var element = document.getElementById("copy");
    var text = element.innerHTML;
    var clipboard = new Clipboard("#copy");
    clipboard.on('success', function(e) {
        e.clearSelection();
        element.innerHTML = "Copied!";
        setTimeout(function() {
          element.innerHTML = text;
        }, 1000)
    });

    clipboard.on('error', function(e) {
      element.innerHTML = "Failed to copy :(";
      setTimeout(function() {
        element.innerHTML = text;
      }, 3000)
    });
  })();
  </script>

  <div class="event-list">
    <%= render Eventrist.EventsView, "events_list.html", conn: @conn, events: @events, action: :ignore, action_redirect_path: events_path(@conn, :index) %>
    <h4 class="other-events-link">
      Looking for your <%= link "ignored events", to: events_path(@conn, :ignored) %>?
    </h4>
  </div>
</div>
<% end %>