<script>
  function initialize() {
    var event_pos = {lat: <%= @event.venue.lat %>, lng: <%= @event.venue.lng %>};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: event_pos,
      streetViewControlOptions: {
        position: google.maps.ControlPosition.TOP_RIGHT
      },
      zoomControlOptions: {
        position: google.maps.ControlPosition.TOP_RIGHT
      },
      mapTypeControl: true
    });

    map.addListener('click', closeWindow);

    var marker = new google.maps.Marker({
      position: event_pos,
      map: map,
      title: "<%= @event.venue.name %>"
    });

    marker.addListener('click', function() {
      var elem = document.getElementById("venue-window");
      elem.style.display = "initial";
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  function closeWindow() {
    var elem = document.getElementById("venue-window");
    elem.style.display = "none";
  }
</script>
<div>
  <div id="map"></div>
  <div id="venue-window" style="display: none;">
    <div class="venue-container">
      <div class="venue-content">
        <h4><%= @event.venue.name %></h4>
        <p>
          <%= if @event.venue.address, do: raw(String.replace(@event.venue.address, "\r\n", ", ") |> String.replace(",,", ",")) %>
        </p>
        <p>
          <a href='http://maps.google.com/?q=<%= @event.venue.lat %>,<%= @event.venue.lng %>' target='_blank'>Open in Google Maps</a>
        </p>
      </div>
      <button onclick="closeWindow()">x</button>
    </div>
  </div>
  <div class="event_details">
    <div class="event_container">
      <div class="event_content">
        <h1>
          <%= link @event.title, to: @event.link, target: "_blank" %>
        </h1>
        <div class="event_header">
          <h3><%= @event.organiser %></h3>
          <h5><%= format_from_to @event.start_time, @event.end_time %></h5>
          <h5>(<%= format_time_from_now @event.start_time %>)</h5>
        </div>
        <p><%= raw String.replace(@event.description, "\n", "<br>") %></p>
      </div>
      <div class="event_actions">
        <%= if not is_in_past(@event.start_time) do %>
          <%= case @saved_status do %>
            <% "added" -> %>
              <%= link "✗ Ignore", to: events_path(@conn, :save_event, @event.id, action: "ignored", redirect_path: events_path(@conn, :index)), method: :post, class: "action-btn single" %>
            <% "ignored" -> %>
              <%= link "✓ Save", to: events_path(@conn, :save_event, @event.id, action: "added", redirect_path: events_path(@conn, :ignored)), method: :post, class: "action-btn single" %>
            <% nil -> %>
              <%= link "✗ Ignore", to: events_path(@conn, :save_event, @event.id, action: "ignored"), method: :post, class: "action-btn left" %>
              <%= link "✓ Save", to: events_path(@conn, :save_event, @event.id, action: "added"), method: :post, class: "action-btn right" %>
          <% end %>
        <% else %>
          <%= case @saved_status do %>
            <% "added" -> %>
              <%= link "✗ Ignore", to: "#", class: "action-btn single disabled" %>
            <% "ignored" -> %>
              <%= link "✓ Save", to: "#", class: "action-btn single disabled" %>
            <% nil -> %>
              <%= link "✗ Ignore", to: "#", class: "action-btn left disabled" %>
              <%= link "✓ Save", to: "#", class: "action-btn right disabled" %>
          <% end %>
        <% end %>
      </div>
      <div>
    </div>
  </div>
</div>