<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="find tech events in Glasgow and Edinburgh">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#67A2D4">

    <title>Eventrist</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">
        <span class="header-title"><%= link "Eventrist", to: root_path(@conn, :index) %></span>
        <div class="nav pull-right">
          <%= if logged_in?(@conn) do %>
            <%= link "Recommended", to: events_path(@conn, :next_event) %>
            <%= link "Saved", to: events_path(@conn, :index) %>
            <%= link "Logout", to: registration_path(@conn, :logout) %>
          <% else %>
            <%= link "Login",    to: registration_path(@conn, :login) %>
            <%= link "Register", to: registration_path(@conn, :signup) %>
          <% end %>
        </div>
      </div>

      <div class="inner-content">
        <%= @inner %>
      </div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
