<div class="form-container">
  <h1>Login</h1>

  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

  <%= form_for @changeset, registration_path(@conn, :do_login), fn f -> %>
    <div class="form-group">
      <label>Email</label>
      <%= email_input f, :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Password</label>
      <%= password_input f, :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= submit "Login", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>