<div class="form-container">
  <h1>Create an account</h1>

  <%= form_for @changeset, registration_path(@conn, :do_signup), fn f -> %>
    <%= if f.errors != [] do %>
      <div>
        <%= for {attr, message} <- f.errors do %>
          <p class="alert alert-danger"><%= humanize(attr) %> <%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <label>Email</label>
      <%= email_input f, :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Password</label>
      <%= password_input f, :password, class: "form-control" %>
      <p class="password-constraints">Min 5 characters</p>
    </div>

    <div class="form-group">
      <%= submit "Signup", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>