<div class="about-container">
  <div class="about-header">
    <h1>Eventrist</h1>
    <h4>Keep track of events you're interested in.</h4>
  </div>
  <div class="about-group">
    <p class="about-section">
      Eventrist asks a simple question - are you interested in this event?
    </p>
    <p class="about-section">
      Yes? great! We'll add it to a list that you can import in to your
      favourite calendar app.
    </p>
    <p class="about-section">
      No? no worries, you won't see it again. Simple as that!
    </p>
  </div>
  <%= if !logged_in?(@conn) do %>
  <div class="about-action">
    <h3>Interested?</h3>
    <%= link "Get Started!", to: registration_path(@conn, :signup) , class: "btn btn-primary"%>
  </div>
  <% end %>

  <div class="about-section">
    <h3>FAQ</h3>
    <div class="faq-answer">
      <p><b>Q</b> - What events can I see?</p>
      <p><b>A</b> - Right now, we'll recommend tech events happening in Glasgow and Edinburgh.</p>
    </div>
    <div class="faq-answer">
      <p><b>Q</b> - How far in the future will the events be?</p>
      <p><b>A</b> - The events recommended to you will be at most a month away.</p>
    </div>
  </div>
</div>