BEGIN:VEVENT
UID:<%= @event.source_id %>@<%= @event.source %>
SUMMARY:<%= @event.title %>
DESCRIPTION:<%= String.replace(@event.description, "\r\n", " ") |> String.replace("\n", " ") %>
LOCATION:<%= @event.venue.name %>, <%= @event.venue.address %>
GEO:<%= @event.venue.lat %>;<%= @event.venue.lng %>
DTSTART:<%= Ecto.DateTime.to_iso8601(@event.start_time) |> String.replace("-", "") |> String.replace(":", "")  %><%= if @event.end_time do %>
DTEND:<%= Ecto.DateTime.to_iso8601(@event.end_time) |> String.replace("-", "") |> String.replace(":", "") %><% end %>
LAST-MODIFIED:<%= Ecto.DateTime.to_iso8601(@event.updated_at) |> String.replace("-", "") |> String.replace(":", "")  %>
END:VEVENT