server {
  listen              80;
  listen              [::]:80;
  server_name         {{ domain_name }};
  location '/.well-known/acme-challenge' {
  default_type "text/plain";
    root        {{ letsencrypt_webroot }};
  }

  location / {
    return              301 https://$server_name$request_uri;
  }
}
