upstream phoenix_upstream {
  server 127.0.0.1:4000;
}

server {
  listen 443 ssl;

  server_name {{ domain_name }};

  ssl on;

  ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;

  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 5m;

  add_header Strict-Transport-Security "max-age=63072000; includeSubdomains;";

  location / {
    proxy_redirect off;
    proxy_pass http://phoenix_upstream;
  }
}