#Taken from here http://www.phoenixframework.org/docs/advanced-deployment#section-making-our-application-public
description "eventrist"

## Uncomment the following two lines to run the
## application as www-data:www-data
#setuid www-data
#setgid www-data

start on runlevel [2345]
stop on runlevel [016]

expect stop
respawn

env MIX_ENV=prod
export MIX_ENV

env PHOENIX_HOST={{ domain_name }}
export PHOENIX_HOST

env PHOENIX_PORT=4000
export PHOENIX_PORT

## Add app HOME directory.
env HOME=/usr/share/eventrist
export HOME


pre-start exec /bin/sh /usr/share/eventrist/bin/eventrist start

post-stop exec /bin/sh /usr/share/eventrist/bin/eventrist stop